main{
    width: 100vw;
    display: flex;
    justify-content: space-around;  
    align-items: center; 
}
img{
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin: 20px;
}
div.info{
    border: 2px solid black;
    border-radius: 10px;
    width: 800px;
    height: 600px;

}

h1, h2, p{
    margin: 20px;
}